<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="productsLoaded" value=""/>
    <add key="categoriesLoaded" value=""/>
    <add key="specificationLoaded" value=""/>
    <add key="infoEmail" value="prodaja@pinshop.rs"/>
    <add key="infoEmailPassword" value="PinServis023"/>
    <add key="orderEmail" value="prodaja@pinshop.rs"/>
    <add key="orderEmailPassword" value="PinServis023"/>
    <add key="smtp" value="mail.pinshop.rs"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpSsl" value="false"/>
    <add key="errorEmailFrom" value="prodaja@pinshop.rs"/>
    <add key="errorEmailFromPassword" value="PinServis023"/>
    <add key="errorEmailFromSmtp" value="mail.pinshop.rs"/>
    <add key="errorEmailFromSmtpPort" value="25"/>
    <add key="errorEmailFromSmtpSsl" value="false"/>
    <add key="errorEmailTo" value="vivosoftsolutions@gmail.com"/>
    <add key="mainWidth" value="420"/>
    <add key="mainHeight" value="336"/>
    <add key="mainName" value="main"/>
    <add key="listWidth" value="190"/>
    <add key="listHeight" value="150"/>
    <add key="listName" value="list"/>
    <add key="thumbWidth" value="70"/>
    <add key="thumbHeight" value="56"/>
    <add key="thumbName" value="thumb"/>
    <add key="companyName" value="PinShop"/>
    <add key="webShopUrl" value="https://www.pinshop.rs"/>
    <add key="webShopLoginUrl" value="https://www.pinshop.rs/login"/>
    <add key="logoUrl" value="https://www.pinshop.rs/images/logo.png"/>
    <add key="webShopAdminUrl" value="webshopAdmin"/>
    <add key="showIfNotInStock" value="false"/>
    <add key="productDescription" value=""/>
    <add key="updateProductsFromExternalApplication" value="true"/>
    <add key="exportProducts" value="true"/>
    <add key="fillZeroCode" value="false"/>
    <add key="fillZeroBarcode" value="false"/>
    <add key="fullProductUrl" value="true"/>
    <add key="productInMultipleCategories" value="false"/>
    <add key="includeSubcategoriesInProductList" value="false"/>
    <add key="allowProductPriceChange" value="true"/>
    <add key="roundPromotionPrice" value="true"/>
    <add key="includeProductsFromChildrenCategories" value="true"/>
    <add key="showSubcategoriesBeforeProducts" value="true"/>
    <add key="productUrlDefinition" value=""/>
    <add key="deleteImagesFilesOnProductDelete" value="true"/>
    <add key="showBrandLogoOnProductPage" value="true"/>
    <add key="includeParentUrlInCategoryUrl" value="true"/>
    <add key="userDiscountVisible" value="true"/>
    <add key="deliveryCost" value="200"/>
    <add key="freeDeliveryTotalValue" value="2000"/>
    <add key="orderDiscountVisible" value="true"/>
    <add key="userDiscountOnlyOnProductNotOnPromotion" value="true"/>
    <add key="calculateDelivery" value="true"/>
    <add key="hasRetails" value="false"/>
    <add key="addSeparateContactPage" value="true"/>
    <add key="useSSL" value="true"/>
    <add key="productFP_Line1" value="Brand"/>
    <add key="productFP_Line2" value="Name"/>
    <add key="product_Line1" value="Brand,Name"/>
    <add key="product_Line2" value="none"/>
    <add key="loanBoxVisible" value="false"/>
    <add key="filterBrandsVisible" value="true"/>
    <add key="showProductCode" value="false"/>
    <add key="sortProductsByDescriptionAlso" value="true"/>
    <add key="showNewTag" value="true"/>
    <add key="categoryManual" value=""/>
    <add key="useCategorySprites" value="false"/>
    <add key="facebookAdmins" value=""/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="eweConnectionString" value="http://api.ewe.rs/share/backend_231/?user=pinservis"/>
    <add key="secretCode" value="secretcode=754fc"/>
    <add key="saveProductWithoutImage" value="false"/>
    <add key="addDescriptionToOrderPage" value="false"/>
    <add key="hasRedirect" value="true"/>
    <add key="emailTemplatesPath" value="notificationTemplates"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=159.122.84.196,780;Database=pinshop_pinshop;User id=pinshop_pinshop;Password=pinservis023" name="eshopConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <authentication mode="Forms"/>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider" type="eshopBL.CustomMembershipProvider" connectionString="eshopConnectionString" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" PasswordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add name="CustomRoleProvider" type="CustomRoleProvider" connectionString="eshopConnectionString"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <sessionState mode="InProc" cookieless="false" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>
    <globalization uiCulture="sr" culture="sr-Latn-CS" fileEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".css"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
      <mimeMap fileExtension=".css" mimeType="text/css"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.1:00:00"/>
    </staticContent>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>