#cartFpContainer {
    //font-size:0.9em;
    .total {
        text-align: right;
        margin: 0.5em 0 0 0;
        font-size: 1.2em;
        background-color:@default-gray;
        border-top:1px solid #eee;

        #cartFpTotal {
            font-weight: bold;
            color: @brand-primary;
            font-size:1.3em;
        }
    }

    span.fa-close{
        cursor:pointer;
        color:lighten(@text-color, 10%);
    }

    .update-cont{
        display:inline-block;
        padding:2px;
        background-color:@default-gray;

        span.fa{
            cursor:pointer;
            color: lighten(@text-color, 10%);
        }

        span.fa.left{
            margin-right:2px;
        }

        span.fa.right{
            margin-left:2px;
        }
    }

    span.unit{
        font-size:0.7em;
    }

    table td{
        padding:0 !important;
    }

    span.value{
        font-weight:bold;
        font-size:1.3em;
    }

    #cartFpMessage{
        display:block;
        width:100%;
        text-align:center;
    }
}

@media only screen and (min-width: 1024px) {
    #cartFpContainer {
        width: 500px;
    }
}

#cart{
    table{
        border:1px solid @default-gray;

        th, td{
            border:none;
            vertical-align:middle;
        }

        td img{
            max-width:38px;
        }

        input[type=text]{
            max-width:50px;
        }
    }

    .total-box{
        background-color:@default-gray;
        padding:0.5em;

        .value{
            display:inline-block;
            padding:5px;
            width:80%;
        }

        .value-total{
            font-weight:bold;
            font-size:1.2em;
        }

        .currency{
            font-size:0.7em;
            color:lighten(@text-color, 10%);
        }
    }
}