.main-content {
    //padding-bottom:2em;
    .container {
        border-left: 1px solid @default-gray;
        border-right: 1px solid @default-gray;
        background-color:#fff;
    }

    .page-content{
        padding-bottom:1em;
        padding-top:1em;

        h1{
            font-size:2em;
            margin-bottom:1.5em;
        }

        h2{
            font-size:1.5em;
            margin-bottom:1.5em;
        }

        h4.section-header{
            color:#fff;
            font-size:0.9em;
            text-transform:uppercase;
            background-color:lighten(@brand-primary, 40%);
            padding:0.3em;
            width:70%;
            margin:2em 0 0 0;
        }
    }

    h1 {
        font-size:1.5em;
        margin-bottom:1.5em;
    }
}
