.product-pager{
    padding-bottom:0.5em;
    .paging{
        font-size:1.2em;

        a{
            padding:2px 5px;
            background-color:@default-gray;
            min-width:26px;
            display:inline-block;
            text-align:center;
            border:1px solid darken(@default-gray, 20%);
            //cursor:pointer;
            position: relative;
        }

        a.dot{
            border: none;
            background-color: #fff;
        }

        /*a:first-child:after{
            content: '...';
            position:absolute;
            top: 10px;
            right: -18px;
            color: #444;
        }*/

        /*a:first-child{
            margin-right: 20px;
        }*/

        /*a:last-child{
            margin-left: 20px;
        }*/

        /*a:last-child:before{
            content: '...';
            position:absolute;
            top: 10px;
            left: -18px;
            color: #444;
        }*/

        .paging-active{
            background-color:@brand-primary;
            color:#fff;
        }
    }
}
