.search-items-cont{
    position:absolute;
    top:34px;
    width:100%;
    left:0;
    //height:150px;
    background-color:#fff;
    z-index:999;
    border:1px solid @default-gray;
    border-top:none;
    padding:0.5em;

    tr:first-child a{
        display:block;
        margin-bottom:0.5em;
    }

    tr a{
        display:block;
        //margin-bottom:0.2em;
        color:lighten(@text-color, 10%);
        padding: 5px;
    }

    tr a:hover{
        color: #fff;
        background-color: lighten(@brand-primary, 10%);
    }
}
