@media only screen and (min-width: 1024px){
    .cd-dropdown{
        position:absolute;
        top:43px;
    }

    .cd-dropdown-content{
        position:static;
        width:255px;
    }
}

.cd-dropdown-content a, .cd-dropdown-content ul a{
    text-transform:none;
}

.cd-dropdown-content a:hover, .cd-dropdown-content ul a:hover{
    text-decoration:none;
}